table {
  border-collapse: collapse;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: Arial, 'light', serif;
  margin-left: 12%;
  margin-top: 2%;
}
table th {
  background-color: burlywood;
  color: #ffffff;
  text-align: left;
  font-size: 35px;
}

table th, td {
  padding: 5px 50px;

}

table td {
  border-style: solid;
  border-color: burlywood;
  font-size: 20px;
  text-align: center;
}


i{
  font-size: 25px;
}
